aioboto3==11.1.0

  - aiobotocore [required: ==2.5.0, installed: 2.5.0]

    - aiohttp [required: >=3.3.1, installed: 3.8.4]

      - aiosignal [required: >=1.1.2, installed: 1.3.1]

        - frozenlist [required: >=1.1.0, installed: 1.3.3]

      - async-timeout [required: >=4.0.0a3,<5.0, installed: 4.0.2]

      - attrs [required: >=17.3.0, installed: 22.2.0]

      - charset-normalizer [required: >=2.0,<4.0, installed: 3.1.0]

      - frozenlist [required: >=1.1.1, installed: 1.3.3]

      - multidict [required: >=4.5,<7.0, installed: 6.0.4]

      - yarl [required: >=1.0,<2.0, installed: 1.8.2]

        - idna [required: >=2.0, installed: 3.4]

        - multidict [required: >=4.0, installed: 6.0.4]

    - aioitertools [required: >=0.5.1, installed: 0.11.0]

      - typing-extensions [required: >=4.0, installed: 4.5.0]

    - botocore [required: >=1.29.76,<1.29.77, installed: 1.29.76]

      - jmespath [required: >=0.7.1,<2.0.0, installed: 1.0.1]

      - python-dateutil [required: >=2.1,<3.0.0, installed: 2.8.2]

        - six [required: >=1.5, installed: 1.16.0]

      - urllib3 [required: >=1.25.4,<1.27, installed: 1.26.15]

    - wrapt [required: >=1.10.10, installed: 1.15.0]

aiofauna==0.0.11

  - aiohttp [required: >=3.8.4,<4.0.0, installed: 3.8.4]

    - aiosignal [required: >=1.1.2, installed: 1.3.1]

      - frozenlist [required: >=1.1.0, installed: 1.3.3]

    - async-timeout [required: >=4.0.0a3,<5.0, installed: 4.0.2]

    - attrs [required: >=17.3.0, installed: 22.2.0]

    - charset-normalizer [required: >=2.0,<4.0, installed: 3.1.0]

    - frozenlist [required: >=1.1.1, installed: 1.3.3]

    - multidict [required: >=4.5,<7.0, installed: 6.0.4]

    - yarl [required: >=1.0,<2.0, installed: 1.8.2]

      - idna [required: >=2.0, installed: 3.4]

      - multidict [required: >=4.0, installed: 6.0.4]

  - aiohttp-sse [required: >=2.1.0,<3.0.0, installed: 2.1.0]

    - aiohttp [required: >=3.0, installed: 3.8.4]

      - aiosignal [required: >=1.1.2, installed: 1.3.1]

        - frozenlist [required: >=1.1.0, installed: 1.3.3]

      - async-timeout [required: >=4.0.0a3,<5.0, installed: 4.0.2]

      - attrs [required: >=17.3.0, installed: 22.2.0]

      - charset-normalizer [required: >=2.0,<4.0, installed: 3.1.0]

      - frozenlist [required: >=1.1.1, installed: 1.3.3]

      - multidict [required: >=4.5,<7.0, installed: 6.0.4]

      - yarl [required: >=1.0,<2.0, installed: 1.8.2]

        - idna [required: >=2.0, installed: 3.4]

        - multidict [required: >=4.0, installed: 6.0.4]

  - iso8601 [required: >=1.1.0,<2.0.0, installed: 1.1.0]

  - Jinja2 [required: >=3.1.2,<4.0.0, installed: 3.1.2]

    - MarkupSafe [required: >=2.0, installed: 2.1.2]

  - pydantic [required: >=1.10.7,<2.0.0, installed: 1.10.7]

    - typing-extensions [required: >=4.2.0, installed: 4.5.0]

boto3==1.26.76

  - botocore [required: >=1.29.76,<1.30.0, installed: 1.29.76]

    - jmespath [required: >=0.7.1,<2.0.0, installed: 1.0.1]

    - python-dateutil [required: >=2.1,<3.0.0, installed: 2.8.2]

      - six [required: >=1.5, installed: 1.16.0]

    - urllib3 [required: >=1.25.4,<1.27, installed: 1.26.15]

  - jmespath [required: >=0.7.1,<2.0.0, installed: 1.0.1]

  - s3transfer [required: >=0.6.0,<0.7.0, installed: 0.6.0]

    - botocore [required: >=1.12.36,<2.0a.0, installed: 1.29.76]

      - jmespath [required: >=0.7.1,<2.0.0, installed: 1.0.1]

      - python-dateutil [required: >=2.1,<3.0.0, installed: 2.8.2]

        - six [required: >=1.5, installed: 1.16.0]

      - urllib3 [required: >=1.25.4,<1.27, installed: 1.26.15]

email-validator==1.3.1

  - dnspython [required: >=1.15.0, installed: 2.3.0]

  - idna [required: >=2.0.0, installed: 3.4]

fastapi==0.95.1

  - pydantic [required: >=1.6.2,<2.0.0,!=1.8.1,!=1.8,!=1.7.3,!=1.7.2,!=1.7.1,!=1.7, installed: 1.10.7]

    - typing-extensions [required: >=4.2.0, installed: 4.5.0]

  - starlette [required: >=0.26.1,<0.27.0, installed: 0.26.1]

    - anyio [required: >=3.4.0,<5, installed: 3.6.2]

      - idna [required: >=2.8, installed: 3.4]

      - sniffio [required: >=1.1, installed: 1.3.0]

    - typing-extensions [required: >=3.10.0, installed: 4.5.0]

httptools==0.5.0

httpx==0.24.0

  - certifi [required: Any, installed: 2022.12.7]

  - httpcore [required: >=0.15.0,<0.18.0, installed: 0.17.0]

    - anyio [required: >=3.0,<5.0, installed: 3.6.2]

      - idna [required: >=2.8, installed: 3.4]

      - sniffio [required: >=1.1, installed: 1.3.0]

    - certifi [required: Any, installed: 2022.12.7]

    - h11 [required: >=0.13,<0.15, installed: 0.14.0]

    - sniffio [required: ==1.*, installed: 1.3.0]

  - idna [required: Any, installed: 3.4]

  - sniffio [required: Any, installed: 1.3.0]

itsdangerous==2.1.2

orjson==3.8.10

python-dotenv==1.0.0

python-multipart==0.0.6

PyYAML==6.0

sse-starlette==1.3.3

  - starlette [required: Any, installed: 0.26.1]

    - anyio [required: >=3.4.0,<5, installed: 3.6.2]

      - idna [required: >=2.8, installed: 3.4]

      - sniffio [required: >=1.1, installed: 1.3.0]

    - typing-extensions [required: >=3.10.0, installed: 4.5.0]

ujson==5.7.0

uvicorn==0.21.1

  - click [required: >=7.0, installed: 8.1.3]

    - colorama [required: Any, installed: 0.4.6]

  - h11 [required: >=0.8, installed: 0.14.0]

watchfiles==0.19.0

  - anyio [required: >=3.0.0, installed: 3.6.2]

    - idna [required: >=2.8, installed: 3.4]

    - sniffio [required: >=1.1, installed: 1.3.0]

websockets==11.0.1

